

<%= form_tag("/kennkoukiroku_makerecord",method:"post") do %>
  <div class="field">
    <%= label_tag "年度を指定してください" %>
    <%= date_select :kennkoukiroku_makerecord, :nenndo, discard_day: true, discard_month: true %>
   </div>

   <div class="actions">
     <%= submit_tag "まとめて作成",data: { confirm: 'まとめて作成しますけどよろしいですか？'} %>
   </div>
   <% end %>
  