<p id="notice"><%= notice %></p>

<p>
  <strong>遅刻理由:</strong>
  <%= @tikoku.riyuu %>
</p>

<%= link_to '編集', edit_tikoku_path(@tikoku) %> |
<%= link_to '戻る', tikokus_path,{class: "btn btn-default btn-sm btn-block"} %>
